:root {
    --primary-color: #e3e3e3;
    --secondary-color: #735EAB;
    --tertiary-color: #222222;
    --quaternary-color: #8f32e0;
    --live-color: #CC4774;
    --dead-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


header {
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

body {
    padding: 0;
    margin: 0px;
    background-color: var(--primary-color);
    --diameter: 22px;
    --radius: 11px;
}

.ManagerWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#gridContainer{ 
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    cursor: pointer;
}
#gridContainer.active{
    cursor: grabbing;
}
table {
    width: 95%;
    height: 95%;
    table-layout: fixed;
    background-color: var(--primary-color);
    border-spacing: 0;
}

td{
    border: 1px solid rgb(196, 196, 196);
    border-radius: 6px;
    width: 15px;
    height: 15px;
    overflow: hidden;

}

span {
    color: #222;
    cursor: pointer;
}

footer {
    text-align: center;
    padding-top: 11vw;
    padding-bottom: 6vw;
    font-size: 12px;
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav-bar {
    display: flex;
    width: 30vh;
    justify-content: space-around;
}

td.dead {
    background-color: var(--dead-color);
}

td.live {
    background-color: var(--live-color);
    border-radius: 10px;
}

.container {
    position: relative;
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 66%;
    align-items: center;
}

.play-area {
    background-color: chocolate;
    width: 100%;
    height: 300px;
}

.control-panel {
    position: relative;
    margin: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}

.cell-counter-div {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cell-counter-div>* {
    margin-top: -20px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    padding: 5px 5px 10px 5px;
}


.save-buttons {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.control-buttons {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fps-control {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fps-control>* {
    margin: 0 5px;

}

.save-buttons>* {
    margin: 0 5px;

}

.nav-bar span {
    font-size: 3vw;
}



.fps-counter-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;

}

td.dead {
    background-color: var(--dead-color);
}

td.live {
    background-color: var(--live-color);
    border-radius: 10px;
}


/*classi about*/
.subtitle {
    color: var(--tertiary-color);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    position: relative;
    padding: 10px;
    margin-left: 1vw;
}

.subsubtitle-left {
    text-align: left;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
    color: var(--tertiary-color);
    font-size: 20px;
}

.subsubtitle-right {
    text-align: right;
    margin-right: 30px;
    font-family: "Roboto", sans-serif;
    color: var(--tertiary-color);
    font-size: 20px;
}

.first-container {
    padding-left: 17vw;
    padding-right: 17vw;

}

.second-container {
    background-color: var(--secondary-color);
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    border-radius: 8px;


}

.text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 5px;
    text-align: justify;
    background-color: var(--secondary-color);
    /*color: var(--tertiary-color);*/

}

.div-img {
    padding: 10px;
    height: 12vw;
    max-width: auto;
}

.img {
    object-fit: contain;
    height: 100%;

}

/* CLASSI ABOUT 2 COME PROVA*/

.card>h3,
p {
    padding: 8px;
}

.card>h3 {
    font-family: "Roboto";
    font-size: 2rem;
    margin: 10px;
}

.card-container>h2 {
    font-family: "Roboto";
    font-size: 2rem;
    margin: 10px;
    margin-top: 20px;
}

.text-area {
    background-color: var(--secondary-color);
    border-radius: 12px;
    margin: 1px;
    padding: 20px;
}

.text-area>* {
    font-family: "Roboto";
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: calc(4/5 * 100%);
    margin: 10px;
}

.img-card {
    display: flex;
    justify-content: space-between;
}

/*fine classi about*/


#start,
#clear,
#random,
#increase-fps,
#decrease-fps {
    padding: .75em;
    border-radius: 8px;

}

#title {
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    padding: 10px;
    margin-left: 1vw;
}


#fps-field {
    width: 8vh;
    text-align: center;
    height: auto;
    font-size: 1.5em;
    border-radius: 8px;
    background-color: var(--tertiary-color);
    border: none;
    color: var(--primary-color);
}

#fps-field-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: var(--tertiary-color);
}

/*panels*/
#left-side-panel {
    position: absolute;
    background-color: #455d7a;
    height: 100%;
    width: 30%;
    align-items: center;
    border-radius: 8px;
    left: -29%;
}

#right-side-panel {
    position: absolute;
    background-color: #455d7a;
    height: 100%;
    width: 30%;
    align-items: center;
    border-radius: 8px;
    right: -29%;

}

#circle-ovest {
    position: absolute;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    font-size: 16px;
    margin-left: 0px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - var(--radius));
    left: calc(100% - var(--radius));
    cursor: pointer;
    z-index: 1;
}

#circle-est {
    position: absolute;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    font-size: 16px;
    margin-right: 0px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - var(--radius));
    right: calc(100% - var(--radius));
    cursor: pointer;
    z-index: 1;
}

/* Transitioning*/
#left-side-panel.slide-left {
    transform: translateX(97%);
}

#right-side-panel.slide-right {
    transform: translateX(-97%);
}

#left-side-panel,
#right-side-panel,
#circle-ovest,
#circle-est {
    transition: transform 0.5s ease;
}

/*per le frecce*/
#circle-ovest.rotate,
#circle-est.rotate {
    transform: rotate(180deg);
}

/*fa scomparire la scrollbar*/
::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    justify-content: center;
    border-radius: 8px;
}
#scroll-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
}


.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 2em;
}

.div-image {
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translate(-50%);
    width: 70%;
    padding-top: 20px;
}

.div-image-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding-top: 10%;

}


.item-image {
    opacity: 1.0;
    width: 90%;

}

.div-popup {
    position: absolute;
    height: 100%;
    width: 100%;
}

.class-popup-left {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 0px;
    background-color: var(--secondary-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: right 0.2s ease-in-out, opacity 0.4s ease-in-out;
    z-index: -1;
}

.div-popup:hover .class-popup-left {
    right: -25%;
}

.popup-Top{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup-Down{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#infoButton {
    position: absolute;
    cursor: pointer;
    top: 3%;
    right: 32%;
}

#addButton {
    position: relative;
    top: 10px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@media (max-width: 1000px) {
    #title {
        color: blue;
        font-size: 20px;
    }
    #infoButton {
        position: absolute;
        cursor: pointer;
        right: 0px;
        top: 0px;
        right: 40px;
    }

    #addButton {
        position: relative;
        top: 10px;
        cursor: pointer;
    }

    /* Stile per la finestra di popup */
    .class-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid black;
        z-index: 9999;
    }

    /* Stile per il pulsante di chiusura della finestra di popup */
    .class-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    #id-popup {
        display: "block";
    }

    .first-container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        margin: 5px;
    }

    .subtitle {
        font-size: 20px;

    }

    .subsubtitle-left {

        font-size: 18px;
    }

    .subsubtitle-right {

        font-size: 18px;
    }

    .second-container {
        padding: 20px;
    }

}


@media(max-width: 600px) {
    .second-container {
        background-color: var(--secondary-color);
        padding: 15px;
        align-items: center;
        /*align-items: top;
        justify-content: space-between;*/
        flex-direction: column;
    }

    .div-img {
        padding: 8px;
        width: 25%;
        height: 25%
    }

    .img {
        width: 100%;
        height: 100%
    }
}


/*login form*/

label {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}


.popup-form {

    position: fixed;
    top: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    padding: 10px;
    background-color: var(--primary-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    max-width: 250px;
}

/* Style for the close button */
.popup-form .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: var(--tertiary-color);
    cursor: pointer;
    background-color: var(--primary-color);
    border: (var(--primary-color));
}

.popup-form .login-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 15px;
    width: 40%;
    text-align: center;

}

.popup-form .field {
    border: 0px;
    margin-bottom: 8px;
    margin-top: 5px;
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
}

.form {
    background-color: var(--primary-color);
}



.modal {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
}
